/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Lato', sans-serif;
}

header {
  color: white;
  background-color: #000c20;
  padding: 1em 3em;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

#back {
  float: left;
  display: none;
  background-image: url(../images/icons/back.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  text-indent: -99999px;
}

#admin {
  float: right;
  background-image: url(../images/icons/admin.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  text-indent: -99999px;
}

h1 {
  text-align: center;
  font-size: 1.4em;
}

#status {
  color: white;
  background-color: #007f7b;
  padding: 1em 3em;
  position: relative;
}

#status:after {
  content: "";
  display: block;
  clear: both;
}

#status h2 {
  float: left;
  width: 75%;
}

#status p {
  font-weight: bold;
}

address span {
  display: block;
}

#distributeurs p {
  float: left;
}

.reload {
  float: left;
  width: 25%;
}

#reload {
  float: right;
  display: block;
  background-image: url(../images/icons/reload.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  text-indent: -99999px;
}

#see-all {
  display: block;
  width: 100%;
  padding: 1em 3em;
}

ul a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1em 3em;
  border-top: 1px solid #007f7b;
}

#result a {
  color: #000c20;
  text-decoration: none;
}

.details {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1em 3em;
  border-top: 1px solid #007f7b;
}

.details img {
  margin-right: 10px;
}

.details:after {
  content: "";
  display: block;
  clear: both;
}

.details .left {
  float: left;
  width: 75%;
  text-align: left;
}

.details .right {
  float: left;
  width: 25%;
  text-align: right;
}

.hidden {
  display: none;
}

.shown {
  display: block;
  width: 100%;
}

a.shown {
  box-sizing: border-box;
  padding: 1em 3em;
}

#gmap {
  width: 100%;
  height: 800px;
}

.tools {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1em 3em;
}

.toolWrapper {
  display:block;
  width:25%;
  margin:1em 0;
}

.tool {
  box-sizing: border-box;
  display: block;
  padding: 1.5em;
  background-color: #000c20;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.tool:hover {
  background-color: #007f7b;
}


.formulaire {
  display: none;
  box-sizing: border-box;
  width: 100%;
}

input[type="text"], select{
  box-sizing: border-box;
  border:0px;
  border-bottom:1px solid #000c20;
  width: 25%;
  margin-right: 2%;
  padding:0.4em 0;
}

input[type="submit"]{
  box-sizing: border-box;
  width: 23%;
  padding: 1em;
  border:0;
  background-color: #000c20;
  color: white;
}

input[type="submit"]:hover{
  background-color: #007f7b;
}

#fullTerminal {
  display: none;
}

#empty {
  display: none;
  color: #CD000C;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  #gmap {
    height: 600px;
  }

  .toolWrapper {
    width:50%;
  }

  input[type="text"], select{
    width: 50%;
  }

  input[type="submit"]{
    width: 47%
  }  
}

@media screen and (max-width: 700px) {
  header, #status, ul a, a.shown, .tools {
    padding: 1em;
  }

  #gmap {
    height: 400px;
  }

  .toolWrapper {
    width:100%;
  }

  input[type="text"], select{
    width: 100%;
    margin-bottom: 0.8em
  }

  input[type="submit"]{
    width: 100%
  }   
}